{
    "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, 
          "Aegis", 
          "Ameth", 
          "Ant", 
          "Ar", 
          "Arc", 
          "Argen", 
          "Armor", 
          "Ash", 
          "Aur", 
          "Azure", 
          "Brav", 
          "Bron", 
          "Buzz", 
          "Catacl", 
          "Copper", 
          "Cres", 
          "Crim", 
          "Cyan", 
          "Dar", 
          "Devaz", 
          "Dez", 
          "Diam", 
          "Drak", 
          "Duz", 
          "Fier", 
          "Flam", 
          "Flow", 
          "Galvan", 
          "Glad", 
          "Glas", 
		  "Glen", 
          "Griy", 
          "Gwyn", 
          "Kni", 
          "Kr", 
          "Kyat", 
          "Kyt", 
          "Lun", 
          "Magn", 
          "Myrm", 
          "Myst", 
          "Myth", 
          "Myur", 
          "Noir", 
          "Obsid", 
          "Oran", 
          "Owl", 
          "Pter", 
          "Radian", 
          "Roniz", 
          "Rubic", 
          "Ruin",  
          "Saph", 
          "Sing", 
          "Sky", 
          "Soar",
          "Spir", 
          "Star", 
          "Sting", 
          "Strik", 
          "Sulf", 
          "Talon", 
          "Vali", 
          "Valo", 
          "Verdan", 
          "Volcan", 
          "Wind", 
          "Yel",  
          "Zol", 
          "Zun"


	  ],
	  
      [ { "mode" : "alts" }, "eleon", 
	  "a", "ul", "o", "ka", "ok", "ra", "na", "or", "ora", "ara", "ona", "aza", "oz", "ez", "zra", "zan", "zen", "zena", "zor", "zora", "zan", "gon", "arna", "anra", "anor", "ry", "ava", "idae", "lii"]
    ],
    [
      { "mode" : "serie" },
          [
      { "mode" : "serie", "titleCase" : true },
      [ { "mode" : "markov", "source" : "kyterran", "targetLength" : [3, 7] } ]
    ],
	  
      [ { "mode" : "alts" }, "eleon", 
	  "a", "ul", "o", "ka", "ok", "ra", "na", "or", "ora", "ara", "ona", "aza", "oz", "ez", "zra", "zan", "zen", "zena", "zor", "zora", "zan", "gon", "arna", "anra", "anor", "ry", "ava", "idae", "lii"]
    ]
  ]
}
